<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Hola <%= @user.name %></h3>

    <p>Te avisamos que tu evaluador de (proyecto de) tesis, <%= @emisor.name %> ha <%= @subject_choice == :created ? "emitido": "actualizado" %> su concepto. Revisalo ahora! ;)  </p>
    <br>
    <% if Rails.env.development?%>
        <%= link_to "Iniciar Sesión!", login_url(:port => "5000") %>
    <% else %>
        <%= link_to  "Iniciar Sesión!", login_url %>
    <% end %>

</body>
</html>
