<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= meta_tags(
    :title => "UnThesis",
    :viewport => "width=device-width, initial-scale=1.0, maximum-scale=1.0",
    :description => "Tesis manager for Universidad Nacional de Colombia",
    :og => {
      :type => "website"
    })
    %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body>
  <%= yield %>
</body>
</html>
